<mat-dialog-title>
  <div fxLayout="row">
    <div fxFlex>
      <label id="heading">Columns</label>
    </div>
    <div fxFlex align="right">
      <button id="pivot-button" (click)="addCondition()">Add Condition</button>
    </div>
  </div>
  </mat-dialog-title>
  <hr>
  <mat-dialog-content>
    <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" class="example-viewport">
      <label *ngIf="condformat.length==0;else formatting" class="field-label">No conditional Formatting Added.</label>
      <ng-template #formatting>
        <div *ngFor="let format of condformat;let i=index">
          <div  class="container" >
          <div fxLayout="row">
            <label class="heading-short" fxFlex=10>Value:</label>
            <select  fxFlex=30 class="pivot-input" [(ngModel)]='format.column'>
              <ng-container *ngFor="let op of columns">
              <option *ngIf="op.datatype=='number'" >{{op.name}}</option>
            </ng-container>
            </select >
            <select  fxFlex=30 class="pivot-input" [(ngModel)]='format.operator'>
              <option *ngFor="let op of conditions" >{{op}}</option>
            </select>
            <input  fxFlex=30 type='number' class="pivot-input" [(ngModel)]='format.value'/>
          </div>
          <div fxLayout="row">
            <label class="heading-short" fxFlex=10>Format:</label>
            <select fxFlex=30 class="pivot-input" [(ngModel)]='format.font'>
              <option *ngFor="let op of fonts" >{{op}}</option>
            </select>
            <label class="heading-short" fxFlex=10> BG Color:</label>
            <input fxFlex=30 type='color' class="pivot-color" [(ngModel)]='format.color' />
            <label class="heading-short" fxFlex=10> Text Color:</label>
            <input fxFlex=30 type='color' class="pivot-color" [(ngModel)]='format.tcolor' />

            <button fxFlex  class="delete-cond" (click)="deleteCondition(i)">Delete</button>
          </div>
        </div>
        </div>
      </ng-template>
  </cdk-virtual-scroll-viewport>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions align="end"  style="margin-top: 10px;">
    <button   class="submit" (click)="submit()">Apply</button>
    <button   class="cancel" (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
