
<ng-container *ngIf="">
  
</ng-container>
  
    <button  class="button" (click) = "popUp()">Fields</button>
    <button class="button" (click)="popUp1()">Calculator</button>
    <button class="button" (click)="openFullscreen()">FullScreen</button>
    
    
  
  
    <ng-container *ngIf="show2">
      <br>
  <h3 style="margin: auto; border: 2px ; border-style: dotted; color: black; text-align: center;">Calculated median = {{meanCol}} </h3>>
    </ng-container>
    
  <div>
    <ng-container *ngIf="show3">
      <br>
      <h3 style="margin: auto; border: 2px ; border-style: dotted;  color: black; text-align: center;">  Calculated mean is {{meanCol}} </h3>
    </ng-container>
    
  <div>
    <ng-container *ngIf="!start && !showcase &&!t">
      <table>
        <tr >
          <td *ngFor="let x of displayedColumns"> {{ x }} </td>
        </tr>
                   <tr *ngFor="let row of arr;  ">
            <td *ngFor="let objKey of _object.keys(row); " >
             
                <p > {{row[objKey]}}
                </p>
              
              </td>
            </tr>
      </table>
    </ng-container>
    
   
  </div>
  <div class="popup"> 
  <ng-container *ngIf="show">
    <button class="close" (click)="close()">X</button>
    <p id="popup"> Available Fields: </p>
    <ul>
    <li *ngFor="let x of displayedColumns,let i=index">
      <input type="checkbox" data-md-icheck (change)="changeType($event,i)"checked >{{x}}
    </li>
    </ul>
  </ng-container>
  
  
</div>
<p *ngIf="!t;else t2"></p>
<ng-template #t2>
  <table>
    <tr >
      <td *ngFor="let x of displayedColumns; let i=index">
        <ng-container *ngIf="check[i]==1">
          {{ x }} </ng-container></td>
    </tr>
               <tr *ngFor="let row of arr; let i=index ">

        <td *ngFor="let objKey of _object.keys(row); let j=index " >
          <ng-container *ngIf="check[j]==1">
            <p > {{row[objKey]}}
            </p>
            </ng-container>
          </td>

        </tr>
        </table>
</ng-template>
      <!-- <li *ngFor="let x of displayedColumns, let i=index">   -->
        <!-- <input type="checkbox"  data-md-icheck (change)="toggleVisibility1($event)"checked>{{ x }} </li> 
      <li> <input type="checkbox" ng-model="Category" data-md-icheck (change)="toggleVisibility1($event)"checked>Category </li>
       <li> <input type="checkbox" ng-model="Month" data-md-icheck (change)="toggleVisibility2($event)"checked>Month </li>
      <li>  <input type="checkbox" ng-model="Revenue" data-md-icheck (change)="toggleVisibility3($event)"checked>Revenue </li>
       <li> <input type="checkbox" ng-model="Customer" data-md-icheck (change)="toggleVisibility4($event)"checked>Customer </li>
       <li><input type="checkbox" ng-model="Order" data-md-icheck (change)="toggleVisibility5($event)"checked> Order ID </li>
       <li> <input type="checkbox" ng-model="Payment" data-md-icheck (change)="toggleVisibility6($event)"checked> Payment Method</li>
       <li><input type="checkbox" ng-model="Quantity" data-md-icheck (change)="toggleVisibility7($event)"checked> Quantity </li>
       <li> <input type="checkbox" ng-model="Region" data-md-icheck (change)="toggleVisibility8($event)"checked>Region </li>
       <li> <input type="checkbox" ng-model="Salesperson" data-md-icheck (change)="toggleVisibility9($event)"checked> Salesperson</li>
       <li> <input type="checkbox" ng-model="Shipping" data-md-icheck (change)="toggleVisibility10($event)"checked> Shipping Cost</li>
       <li> <input type="checkbox" ng-model="UP" data-md-icheck (change)="toggleVisibility11($event)"checked>UnitPrice </li>
       
        -->
  
  <div class="popup"> 
    <ng-container *ngIf="show1">
      <button class="close" (click)="close()">X</button>
      <p id="popup">Calculator</p> <hr>
  
      <div class="CalcDisp">
        <ng-container *ngIf="show1"> 
          <ng-container>
            {{displayVal}}
          </ng-container>
  
    
    
      </ng-container> 
  
      </div>
     
      <div class="input-text">
        New Field Name:
        <input #newHero style="width: 100px; padding: 5px; margin-left:2px; border-radius: 3px;"
        (keyup.enter)="addHero(newHero.value)"
      (blur)="addHero(newHero.value); newHero.value='' "> 
      </div>
      
      <p id="popup">Fields</p>
      <div *ngFor="let row of displayedColumns; let i = index">
        
            <button class="buttonOperator1" style="width: 80%;" *ngIf="types[i]==0" (click)="Select(i)"> {{row}}
            </button>
         
          </div>
      <button class="buttonOperator1" style="width: 80%; color: white;" (click)="Clear()">Clear </button> <br> <hr>
     <!--- <p id="popup">Aggregate Functions:</p>
      <button class="buttonOperator1" (click)="Sum()"> <b> Sum() </b> </button> <hr> -->
      <p id="popup">Operators</p> 
      <button class="buttonOperator1" (click)="Operator('+')"> <b> + </b> </button>
      <button class="buttonOperator2" (click)="Operator('-')"><b> - </b></button> 
      <button class="buttonOperator3" (click)="Operator('*')"><b> * </b></button>
      <button class="buttonOperator4" (click)="Operator('/')"><b> / </b></button> <br>
      <button class="buttonOperator4" style="width: 80%;" (click)="Operator('mean')"><b> Mean </b></button> <br>
      <button class="buttonOperator4" style="width: 80%;" (click)="Operator('median')"><b> Median </b></button> <br>
       <!--<div class="selectedText">
        <p *ngIf="revenue==1">{{Revenue}}</p>
        <p *ngIf="quantity==1">{{Quantity}}</p>
        <p *ngIf="sc==1">{{Shipping Cost}}</p>
        <p *ngIf="up==1">{{Unit Price}}</p>
       </div> -->
        
      
      <button class="button1" (click)="Callu()">Calculate</button>
      
      
    
   
    </ng-container>
    </div>
    <div>

   <!--Entire Table>-->
  
      <ng-container>

      </ng-container>
  
    </div>