<div style="text-align: center;">
<a href="charts/bar-chart"><button class="btn btn-primary">Bar-chart</button></a>
  &nbsp;
 <a href="charts/pie-chart"><button class="btn btn-primary">Pie-Chart</button></a>
 &nbsp;

 <a href="charts/radar-chart"><button class="btn btn-primary">Radar-Chart</button></a>
 &nbsp;

 <a href="charts/doughnut-chart"><button class="btn btn-primary">DoughNut-Chart</button></a>
 &nbsp;

 <a href="charts/save-pdf"><button class="btn btn-primary">Save As PDF</button></a>
</div>