<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div style="text-align: center;">
<a href="charts/bar-chart"><button class="btn btn-primary">Bar-chart</button></a>
  &nbsp;
 <a href="charts/pie-chart"><button class="btn btn-primary">Pie-Chart</button></a>
 &nbsp;

 <a href="charts/line-chart"><button class="btn btn-primary">Line-Chart</button></a>
 &nbsp;

 <a href="charts/doughnut-chart"><button class="btn btn-primary">DoughNut-Chart</button></a>
 &nbsp;

 <a href="charts/save-pdf"><button class="btn btn-primary">Save As PDF</button></a>
 <br>
 <strong>Select X-Axis:</strong>
 <select  style="width: 20% " class=" form-control" (change)="onColumnNameSelect($event)">
  <option [value]="i" *ngFor="let i of displayedColumns" [ngValue]="xv">{{i}}</option>
</select>
<strong>Select Y-Axis:</strong>
<select  style="width: 20% " class=" form-control" (change)="onColumnNameSelect2($event)">
 <option [value]="i" *ngFor="let i of displayedColumns" [ngValue]="yv">{{i}}</option>
</select>
</div>