<mat-dialog-title>
<div fxLayout="row">
  <div fxFlex>
    <label id="heading">Columns</label>
  </div>
  <div fxFlex align="right">
    <button id="pivot-button" (click)="openAddFieldDialog()">Add Calculated Field</button>
  </div>
</div>
</mat-dialog-title>
<hr>
<mat-dialog-content>
  <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" class="example-viewport">
<div fxLayout="column">
  <div fxFlex *ngFor="let col of data.columns">
    <mat-checkbox class="example-margin" [(ngModel)]="col.checked">{{col.name}}</mat-checkbox>
  </div>
</div>
</cdk-virtual-scroll-viewport>
</mat-dialog-content>
<hr>
<mat-dialog-actions align="end"  style="margin-top: 10px;">
  <button  tabindex="-1" class="submit" (click)="submit()">Ok</button>
</mat-dialog-actions>
