body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.header {
  height: 30vh;
  background-image: 
  linear-gradient(to right bottom, 
   rgba(76, 216, 255, 0.8),
   rgba(30, 108, 217, 0.8)),
   url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2F736x%2F98%2F8b%2F84%2F988b84d311cd8cdb25c74630f8b08e12.jpg&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F595671488189082475%2F&tbnid=l4Ol9IePAiS23M&vet=12ahUKEwjNmabttfnnAhVZ6zgGHfB4BEgQMygJegUIARD6AQ..i&docid=g9w8ITmKA0yEOM&w=650&h=520&q=blue%20images%20for%20excel&ved=2ahUKEwjNmabttfnnAhVZ6zgGHfB4BEgQMygJegUIARD6AQ');
  
background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand { font-size: 20px; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.pivot-button{
  margin-left: 10px;
  background-color: rgb(95, 95, 148);
  outline: 0 !important;
  border: 0;
  box-shadow: 0 0 3px rgb(105, 131, 153);
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  width: 100px;
  }
.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
font-size: 14px;
}