body {margin:0;
color: black;
text-align: center;
}
#a:hover{
  background-color:lightblue;
}
#b:hover{
  background-color:lightblue;
}#c:hover{
  background-color:lightblue;
}
.backdropBackground {
  background-color:black;

}


#a1{
  resize: both;
  overflow: auto;
}
#b1 {
  resize: both;
  overflow: auto;
}
hr{

  position: relative; 
              top: 20px; 
              border: none; 
              height: 3px; 
              background: black; 
              margin-bottom: 50px;
  }
#tabled{
  overflow-x: auto;
  overflow-y: scroll;
}
tbody {
  
       /* Just for the demo          */
        /* Trigger vertical scroll    */
    overflow-x:scroll;  /* Hide the horizontal scroll */
}
.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
select{
  font-family: serif;
  color: black;
  
}

.icon-bar a {
  float: left;
  width: 15%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
  
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color:grey;
}