<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
head{
  background-color:violet ;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  
}
html,body { 
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn:hover {
  background-color: RoyalBlue;
}

table{
  width:100%;
  
}
     
    </style>
  </head>
  <body>
  <!--
    <div class="icon-bar">
      <a href="add"><i class="fa fa-home"> Home</i></a> 
      <a href="database" ><i class="fa fa-square-o"> Connect </i></a> 
     <a  (click)="onClick()" href="#"><i class="fa fa-bars"> Format Cells</i></a>
      <a href="charts" (click)="onCharts()" ><i class="fa fa-bar-chart"> Charts</i></a> 
      <a href="#"><i class="fa fa-square-o"> Grid </i></a> 
      
      <a href="#"><i class="fa fa-file"> Calculator </i></a>

    </div>
  
<br><hr>
<p style="text-align: center;" *ngIf="buttonClick">
-->
   <button class="btn btn-primary" (click)="onClickFormat();">Format</button>
  &nbsp;
  <button class="btn btn-primary" (click)="onClickCondition();">Condition</button>

<br>
<br>

<p *ngIf="!format; else form"></p>
<ng-template #form>
    <table class="table table-bordered table-dark">
      <tr>
        <th>Category <br><button class="btn btn-primary" (click)="onButtonCategory();"><i class="fa fa-eercast"></i></button></th>
        
        <th>Month <br><button class="btn btn-primary" (click)="onButtonMonth();"><i class="fa fa-calendar"></i></button></th>
        <th>Revenue <br><button class="btn btn-primary" (click)="onButtonRevenue();"><i class="fa fa-credit-card-alt"></i></button></th>
       
      </tr>
          
      <tr style="font-family: serif;font-size: 15px;" *ngFor="let x of dat" >
        <Td >{{x.category}}</Td>
      
        <Td >{{x.month}}</Td>
          <td >{{x.revenue}}</td>
              
     </tr>
      
    </table>
    
</ng-template>

    <p *ngIf="!buttonMonth; else month"></p>
    <ng-template #month>
      <p>Formatting for : <strong>{{columnName}}</strong></p><hr>
      <strong>Text-alignment</strong>: 
      <select class="select-css"  style="width: 20%; align-content: center; " class=" form-control" (change)="onAlignSelect($event)">
    <option value="left">Left</option>
    <option value="right">Right</option>
  </select>
  <br>
  <button class="btn btn-primary" (click)="onClickFormatApply();">Apply</button>
   &nbsp;
   <button class="btn btn-primary" (click)="onClickFormatCancel();">Cancel</button>
    </ng-template>

  <p *ngIf="!buttonCategory; else category"></p>
    <ng-template #category>
      <p>Formatting for : <strong>{{columnName}}</strong></p><hr>
      <strong>Text-alignment: </strong>
      <select  style="width: 20%; " class=" form-control" (change)="onAlignSelect($event)">
    <option value="left">Left</option>
    <option value="right">Right</option>
  </select>
  <br>
  <button class="btn btn-primary" (click)="onClickFormatApply();">Apply</button>
   &nbsp;
   <button class="btn btn-primary" (click)="onClickFormatCancel();">Cancel</button>
  
  </ng-template>
  
   <p *ngIf="!buttonRevenue; else Revenue"></p>
   <ng-template #Revenue>
    <p>Formatting for : <strong>{{columnName}}</strong></p><hr>
     <strong>Text-alignment:</strong>
      <select  style="width: 20% " class=" form-control" (change)="onAlignSelect($event)">
    <option value="left">Left</option>
    <option value="right">Right</option>
  </select>
   <br>
  <strong>Thousand-seperator:</strong>
  <select  style="width: 20% " class=" form-control" (change)="onThousandSelect($event)">
    <option [value]="i" *ngFor="let i of thousandSep">{{i}}</option>
  </select>
  <br>
  <strong>Decimal-places:</strong>
   <select  style="width: 20% " class=" form-control" (change)="onDecimalPlaceSelect($event)">
    <option [value]="i" *ngFor="let i of decimals">{{i}}</option>
  </select>
  <br>
  <strong>Currency-Symbol:</strong>
  <select  style="width: 20% " class=" form-control" (change)="onCurrency($event)">
    <option [value]="i" *ngFor="let i of currencies">{{i}}</option>
  </select>
   <br>
  <strong>Currency Alignment:</strong>
  <select  style="width: 20% " class=" form-control" (change)="onCurrencyAlignment($event)">
    <option value="left">Left</option>
    <option value="right">Right</option>
  </select> 
  <br>
  <strong>Format As Percentage:</strong>
  <select  style="width: 20% " class=" form-control" (change)="onFormatAsPercentage($event)">
    <option value="false">False</option>
    <option value="true">True</option>
</select>
<br>
<button class="btn btn-primary" (click)="onClickFormatApply();">Apply</button>
   &nbsp;
   <button class="btn btn-primary" (click)="onClickFormatCancel();">Cancel</button>
<br><br>
   </ng-template>
   
 
<p *ngIf="!buttonFormatApply; else FApply"></p>

<ng-template #FApply>
  
  <table  class="table table-bordered table-dark">
    <tr>
      <th>Category</th>
      <th>Month</th>
      <th>Revenue</th>
    </tr>
    <tr style="font-family: serif;font-size: 15px;" *ngFor="let x of dat">
      
       <td *ngIf="columnName=='category'; else noC1" [ngStyle]="{'text-align':alignment}">{{x.category}}</td>
      <ng-template #noC1>
        <td>{{x.category}}</td>
      </ng-template>
      <td *ngIf="columnName=='month'; else noC2" [ngStyle]="{'text-align':alignment}" >{{x.month}}</td>
      <ng-template #noC2>
        <td>{{x.month}}</td>
      </ng-template>
      <!--<td>{{currency}}{{x.revenue|seperator:thousandSeperator}}</td>-->
      <td *ngIf="columnName=='revenue'  && formatAsPercent=='false' &&currencyAlignment=='left'" [ngStyle]="{'text-align':alignment}">{{currency}}{{x.revenue|number:'3.'+decimalPlace+'-5'}}</td>
      <td *ngIf="columnName=='revenue'  && formatAsPercent=='false' &&currencyAlignment=='right'" [ngStyle]="{'text-align':alignment}">{{x.revenue|number:'3.'+decimalPlace+'-5'}}{{currency}}</td>  
      
      <td *ngIf="columnName=='revenue' && formatAsPercent=='true' " [ngStyle]="{'text-align':alignment}">{{x.revenue|format:formatAsPercent}}</td>
      <td *ngIf="columnName!='revenue'">{{x.revenue|currency}}</td>

    </tr>
  </table>

</ng-template>

<p *ngIf="!condition;else temp">
</p>
<ng-template #temp>
  <strong> Column1:</strong>
    <select  style="width: 21%; display: inline; " class=" form-control" (change)="onCol1($event)">
      <option [value]="i" *ngFor="let i of displayedColumns">{{i}}</option>
    </select>
  
   
 
 &nbsp;
 <strong> Operator1:</strong>
   <select  style="width: 20% ; display: inline;" class=" form-control" (change)="onOp1($event)">
    <option [value]="i" *ngFor="let i of operators">{{i}}</option>
  </select>
  &nbsp;
  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
  

  <strong>  Value1: </strong><input style="width: 20% ; display: inline;" type="text" class="form-control" (input)="onVal1($event)"><br>
   <br>
   <strong> FontStyle1: </strong>
   <select  style=" width: 20% ;display: inline;" class=" form-control" (change)="onFont1($event)">
    <option [value]="i" *ngFor="let i of fonts">{{i}}</option>
  </select>
  &nbsp;

  <strong>  FontSize1 : </strong>
   <select  style="width: 20%; display: inline; " class=" form-control" (change)="onFontSize1($event)">
    <option [value]="i" *ngFor="let i of sizes">{{i}}</option>
  </select>
  &nbsp;

  <strong>  FontColor1:</strong> <input style="width: 20% ; display: inline;" type="color"  class="form-control" (input)="onFontColor1($event)"><br>
  <br>
  <strong> TextColor1: </strong><input style="width: 20% ; display: inline;" type="color"  class="form-control" (input)="onTextColor1($event)"><br>
<br>
<div style="display: inline-block; width: 20%;">
<p *ngIf="sample" [ngStyle]="{'background-color':fontcolor1,'font-family':font1, 'font-size.px':fontsize1,color:textcolor1}" >Sample text</p>
  </div> <br><hr> <alert></alert><br>
    
   <strong> Column 2: </strong>
   
  <select  style="width: 21% ; display: inline;" class=" form-control" (change)="onCol2($event)">
    <option [value]="i" *ngFor="let i of displayedColumns">{{i}}</option>
  </select>
 &nbsp;
 <strong> Operator2: </strong>
   <select  style="width: 20%; display: inline; " class=" form-control" (change)="onOp2($event)">
    <option [value]="i" *ngFor="let i of operators">{{i}}</option>
  </select>
  &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<strong>  Value2:</strong> <input style="width: 20% ; display: inline;" type="text" class="form-control" (input)="onVal2($event)"><br>
   
<br>
<strong>  FontStyle2: </strong>
   <select  style="width: 20% ; display: inline;" class=" form-control" (change)="onFont2($event)">
    <option [value]="i" *ngFor="let i of fonts">{{i}}</option>
  </select>
&nbsp;
<strong>  FontSize2 : </strong>
   <select  style="width: 20% ; display: inline;" class=" form-control" (change)="onFontSize2($event)">
    <option [value]="i" *ngFor="let i of sizes">{{i}}</option>
  </select>
&nbsp;
<strong> FontColor2:</strong> <input style="width: 20% ; display: inline;" type="color"  class="form-control" (input)="onFontColor2($event)"><br>
   <br>
   <strong> TextColor2: </strong><input style="width: 20% ; display: inline;" type="color"  class="form-control" (input)="onTextColor2($event)"><br>

<br>
<div style="display: inline-block; width: 20%;">
  <p *ngIf="sample" [ngStyle]="{'background-color':fontcolor2,'font-family':font2, 'font-size.px':fontsize2,'color':textcolor2}" >Sample text</p>
 </div> <br> <button class="btn btn-primary" (click)="onAdd();">  Add Column   </button>

<hr>

</ng-template>
<p *ngIf="!addCol; else AddCol"></p>
       <ng-template #AddCol>
        <strong>  Column: </strong>
        <select  style="width: 20% ; display: inline;" class=" form-control" (change)="onClickColumn($event)">
          <option [value]="i" *ngFor="let i of displayedColumns">{{i}}</option>
        </select>
       &nbsp;
       
       <strong> FontFamily: </strong>
        <select  style="width: 20%; display: inline; " class=" form-control" (change)="onFonts($event)">
         <option [value]="i" *ngFor="let i of fonts">{{i}}</option>
       </select>
     &nbsp;
       
     <strong> FontSize: </strong>
        <select  style="width: 20%; display: inline; " class=" form-control" (change)="onFontSizes($event)">
         <option [value]="i" *ngFor="let i of sizes">{{i}}</option>
       </select>
       <br>
       <br>
       <strong> FontColor:</strong> <input style="width: 20% ; display: inline;" type="color"  class="form-control" (input)="onFontColors($event)">
        &nbsp;
        <strong> TextColor: </strong><input style="width: 20% ; display: inline;" type="color"  class="form-control" (input)="onTextColors($event)"><br>
        
        <br><br>
        
       </ng-template>
      
       <p *ngIf="!condition; else button"></p>
       <ng-template #button>
        <button class="btn btn-primary" [disabled]="alert" (click)="onClickConditionApply();">Apply</button>
        &nbsp;
        <button class="btn btn-primary" (click)="onClickConditionCancel();">Cancel</button><br><br>
        &nbsp;
       </ng-template>
       <!-- [ngStyle]="{'background-color':fontcolor,'font-family':font,'font-size.px':fontsize,'color':textcolor}">{{x.category}}</Td>
        <ng-template #no1>-->
   <p *ngIf="!buttonConditionApply; else Apply"></p>
    <ng-template #Apply>
     
    <table class="table table-bordered">
      <tr style="background-color: cadetblue;">
        <th>Category</th>
        <th>Month</th>
        <th>Revenue</th>
      </tr>
          
      <tr style="font-family: serif;" *ngFor="let x of dat" >
        <Td  *ngIf="c; else no1" [ngStyle]="{'background-color':cbcolor,'font-family':cfamily,'font-size.px':cfont,'color':ctcolor}">{{x.category}}</Td>
        <ng-template #no1>
          <td>{{x.category}}</td>
        </ng-template>
      
        <Td *ngIf="m; else no" [ngStyle]="{'background-color':mbcolor,'font-family':mfamily,'font-size.px':mfont,'color':mtcolor}">{{x.month}}</Td>
        <ng-template #no>
          <td>{{x.month}}</td>
        </ng-template>
        <td *ngIf="col1=='revenue' &&op1=='<' && x.revenue<val1" [ngStyle]="{'background-color':fontcolor1,'font-family':font1, 'font-size.px':fontsize1,color:textcolor1}" >{{x.revenue| currency}}</td>
      <td *ngIf="col1=='revenue' && op1=='<=' && x.revenue<=val1" [ngStyle]="{'background-color':fontcolor1,'font-family':font1, 'font-size.px':fontsize1,color:textcolor1}" >{{x.revenue| currency}}</td>
      <td *ngIf="col1=='revenue' && op1=='>' && x.revenue>val1" [ngStyle]="{'background-color':fontcolor1,'font-family':font1, 'font-size.px':fontsize1,color:textcolor1}" >{{x.revenue| currency}}</td>
      <td *ngIf="col1=='revenue' && op1=='>=' && x.revenue>=val1" [ngStyle]="{'background-color':fontcolor1,'font-family':font1, 'font-size.px':fontsize1,color:textcolor1}" >{{x.revenue| currency}}</td>
         <td *ngIf="col1=='revenue' && op1=='=' && x.revenue==val1" [ngStyle]="{'background-color':fontcolor1,'font-family':font1, 'font-size.px':fontsize1,color:textcolor1}" >{{x.revenue| currency}}</td>
         
         <td *ngIf="col2=='revenue' && op2=='<' && x.revenue<val2" [ngStyle]="{'background-color':fontcolor2,'font-family':font2, 'font-size.px':fontsize2,color:textcolor2}">{{x.revenue|currency}}</td>
         <td *ngIf="col2=='revenue' && op2=='>' && x.revenue>val2" [ngStyle]="{'background-color':fontcolor2,'font-family':font2, 'font-size.px':fontsize2,color:textcolor2}">{{x.revenue|currency}}</td>
         <td *ngIf="col2=='revenue' && op2=='<=' && x.revenue<=val2" [ngStyle]="{'background-color':fontcolor2,'font-family':font2, 'font-size.px':fontsize2,color:textcolor2}">{{x.revenue|currency}}</td>
         <td *ngIf="col2=='revenue' && op2=='=' && x.revenue==val2" [ngStyle]="{'background-color':fontcolor2,'font-family':font2, 'font-size.px':fontsize2,color:textcolor2}">{{x.revenue|currency}}</td>
         <td *ngIf="col2=='revenue' && op2=='>=' && x.revenue>=val2; " [ngStyle]="{'background-color':fontcolor2,'font-family':font2, 'font-size.px':fontsize2,color:textcolor2}">{{x.revenue|currency}}</td>
          </tr>
    </table>
    
  </ng-template>
      
    </body>
     </html>
