<div style="text-align: center;">
  <a href="charts/bar-chart"><button class="btn btn-primary">Bar-chart</button></a>
    &nbsp;
   <a href="charts/pie-chart"><button class="btn btn-primary">Pie-Chart</button></a>
   &nbsp;
  
   <a href="charts/line-chart"><button class="btn btn-primary">Line-Chart</button></a>
   &nbsp;
  
   <a href="charts/doughnut-chart"><button class="btn btn-primary">DoughNut-Chart</button></a>
   &nbsp;
  
   <a href="charts/save-pdf"><button class="btn btn-primary">Save As PDF</button></a>
   &nbsp;<a href=""><button class="btn btn-primary">Home</button></a>

  </div><br><br>

<div class="chart-container" style="position: relative; height:40vh; width:70vw">    
    <canvas id="canvas"></canvas>    
  </div>