<!--
 
  
<table style="width: 100%; color: black;" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


  Position Column 
  <ng-container matColumnDef="position">
    <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.index}} </td>
  </ng-container>-->

  <!-- Name Column 
  <ng-container matColumnDef=" ">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row; let rIndex = index;">
      {{rIndex + 1}}
    </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="Category">
    <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
  </ng-container>

  <ng-container matColumnDef="Month">
    <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>
    <td mat-cell *matCellDef="let element"> {{element.Month}} </td>
  </ng-container>

  
  <ng-container matColumnDef="Revenue">
    <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Revenue </th>
    <td mat-cell *matCellDef="let element"> {{element.Revenue}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
<mat-form-field>
  <input style="color: black;" (keyup)="applyFilter($event.target.value)" matInput placeholder="filter">
</mat-form-field>-->

<div style="color: black;">
  <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
    <mat-label>Filter {{filter.name}}</mat-label>
    <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
      (change)="filterChange(filter,$event)">
      <option value="">-- Select {{filter.name}} --</option>
      <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
    </select>
  </mat-form-field>
  &nbsp;
  <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
</div>

<br><hr>

<button class="btn btn-primary" (click)="openWidth()">Change Width
</button>
<br>
<p *ngIf="!buttonWidth;else width"></p>
<ng-template #width>
  Enter width:<input style="width: 20%; display: inline;" type="text" class="form-control" (input)="onVal2($event)"><br>
   
   <!--<button class="btn btn-primary" (click)="onApply()">Apply</button>&nbsp;
   <button class="btn btn-primary" (click)="onCancel()">Cancel</button>-->
</ng-template>

<div class="table-container" [style.width.%]="w">

<table style="width: 100%;text-align:center ; color: black;  overflow: auto;" class="mat-elevation-z8">
  
  <tr style="background-color: cadetblue;">
  
    <TH>1</TH>
    <th>2</th>
    <th>3</th>
    
  </tr>
  
</table>

<table style="color: black; " mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
 
  <ng-container matColumnDef="position">
    <th [ngStyle]="{'background-color':color1}" style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header (click)="col1()" >No.</th>
    <td  [ngStyle]="{'background-color':color1}" mat-cell *matCellDef="let i=index;" > {{i+1}} </td>
  </ng-container>
  <ng-container matColumnDef="Category">
        <th [ngStyle]="{'background-color':color2}" style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header (click)="col2()"><button style="text-align:center;" class="btn btn-primary" (click)="openDialog2()">Category</button></th> 
        <td [ngStyle]="{'background-color':color2}" mat-cell *matCellDef="let element;" > {{element.Category}} </td> 
      </ng-container>
  <ng-container  matColumnDef="Month" >
    <th [ngStyle]="{'background-color':color3}" style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header (click)="col3()"><button class="btn btn-primary" (click)="openDialog3()">Month</button> </th>
    <td [ngStyle]="{'background-color':color3}"mat-cell *matCellDef="let element;"  > {{element.Month}} </td>
  </ng-container>  
  <ng-container  matColumnDef="Revenue">
    <th [ngStyle]="{'background-color':color4}" style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header (click)="col4()"><button class="btn btn-primary" (click)="openDialog()">Revenue</button> </th>
    <td [ngStyle]="{'background-color':color4}" mat-cell *matCellDef="let element;" > {{element.Revenue}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
</div>

<!--
<div>
  <table style="color: black;" border="1">
    <thead>
      <tr>
        <th [ngStyle]="{'background-color':blue}" *ngFor="let header of _object.keys(arr[0]); let i = index">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of arr; let i = index">
        <th [ngStyle]="{'background-color':blue}" *ngFor="let objKey of _object.keys(row); let j = index">{{ row[objKey] }} </th>
      </tr>
    </tbody>
  </table>
</div>
-->
<!--
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" cdkDropListGroup>
  <ng-container  *ngFor="let column of columns; let i = index"  [matColumnDef]="column.field">
    <mat-header-cell mat-sort-header *matHeaderCellDef
      (mousedown)="onResizeColumn($event, i)">
      {{ column.field }}{{i}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row" >{{ row[column.field] }}  </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>-->

<br><hr>
<a href="dialog">DIALOG</a>
<p *ngIf="!revenueDialog; else revFilter"></p>
<ng-template #revFilter>
  <p ><strong> Data After Filtering:</strong> </p>

  <table  class="table table-bordered ">
    <tr style="background-color: cadetblue;">
      <th>Category</th>
      <th>Month</th>
      <th>Revenue</th>
    </tr>
    <tr style="font-family: serif;font-size: 15px;" *ngFor="let x of arr">
      <td>{{x.Category}}</td>
      <td>{{x.Month}}</td>
      <td *ngIf="o=='>' && x.Revenue>v">{{x.Revenue}}</td>
      <td *ngIf="o=='>=' && x.Revenue>=v">{{x.Revenue}}</td>
      <td *ngIf="o=='<' && x.Revenue<v">{{x.Revenue}}</td>
      <td *ngIf="o=='=' && x.Revenue==v">{{x.Revenue}}</td>
      <td *ngIf="o=='<=' && x.Revenue<=v">{{x.Revenue}}</td>
      </tr>
      </table>
</ng-template>

<p *ngIf="!categoryDialog;else no"></p>
<ng-template #no>
  <p ><strong> Data After Filtering:</strong> </p>

  <table  class="table table-bordered ">
    <tr style="background-color: cadetblue;">
      <th>Category</th>
      <th>Month</th>
      <th>Revenue</th>
    </tr>
    <tr style="font-family: serif;font-size: 15px;" *ngFor="let x of arr">
      <td *ngIf="((s=='Contain' && checkContain(x.Category,l))||(s=='Begin' && checkBegin(x.Category,l)) ||(s=='Not Begin' && !checkBegin(x.Category,l))||(s=='Equal' && checkEqual(x.Category,l))||(s=='Not Equal' && !checkEqual(x.Category,l))||(s=='End' && checkEnd(x.Category,l))||(s=='Not End' && !checkEnd(x.Category,l)));else no">{{x.Category}}</td>
       <ng-template #no>
         <td></td>
       </ng-template>
      <td>{{x.Month}}</td>
      <td >{{x.Revenue}}</td>
      </tr>
      </table>

</ng-template>

<p *ngIf="!monthDialog;else no2"></p>
<ng-template #no2>
  <p ><strong> Data After Filtering:</strong> </p>

  <table  class="table table-bordered ">
    <tr style="background-color: cadetblue;">
      <th>Category</th>
      <th>Month</th>
      <th>Revenue</th>
    </tr>
    <tr style="font-family: serif;font-size: 15px;" *ngFor="let x of arr">
      <td>{{x.Category}}</td>

      <td *ngIf="((s2=='Contain' && checkContain(x.Month,l2))||(s2=='Not Contain' && !checkContain(x.Month,l2))||(s2=='Begin' && checkBegin(x.Month,l2)) ||(s2=='Not Begin' && !checkBegin(x.Month,l2))||(s2=='Equal' && checkEqual(x.Month,l2))||(s2=='Not Equal' && !checkEqual(x.Month,l2))||(s2=='End' && checkEnd(x.Month,l2))||(s2=='Not End' && !checkEnd(x.Month,l2)));else no22">{{x.Month}}</td>
       <ng-template #no22>
         <td></td>
       </ng-template>
      <td >{{x.Revenue}}</td>
      </tr>
      </table>

</ng-template>
